body {
background-image:url("../Image/Retro-Game-Seamless-Pattern.jpg");
}

header {
  background-image:url("../Image/tips-and-tricks.jpg");
}

div {background: white;}

.logo {
  width: 250px; 
}

div .container-fluid   {
    background-color: #00FFFF;
    }